body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .menu-section {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .menu-item {
    width: 30%;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    background-image: linear-gradient(135deg, #ffc107 0%, #e53935 100%); /* Gradien warna kuning-merah */
    position: relative;
  }
  
  .menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .menu-item h3 {
    margin: 15px 0;
    font-size: 24px;
    color: #fff; /* Warna teks putih */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Bayangan teks */
  }
  
  .menu-item p {
    margin: 15px 0;
    color: #fff; /* Warna teks putih */
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Bayangan teks */
  }
  
  .price {
    margin: 15px 0;
    font-weight: bold;
    color: #fff; /* Warna teks putih */
    font-size: 22px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Bayangan teks */
  }
  
  /* Gaya untuk tombol */
  #nextPageBtn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #e53935; /* Warna latar belakang merah */
    color: #fff; /* Warna teks putih */
    text-decoration: none;
    border-radius: 30px; /* Mengubah sudut menjadi lebih bulat */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Bayangan tombol */
  }
  
  /* Gaya saat tombol diarahkan */
  #nextPageBtn:hover {
    background-color: #c62828; /* Warna latar belakang sedikit lebih gelap saat diarahkan */
  }